In [29]:
import numpy as np 
import matplotlib as plot
import pandas as pd
import seaborn as sb
df_org=pd.read_csv("spt.csv",encoding='unicode_escape')

In [30]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [31]:
# Find the unique values in key

df2=df_org["key"]
df2.unique()

array(['B', 'C#', 'F', 'A', 'D', 'F#', nan, 'G#', 'G', 'E', 'A#', 'D#'],
      dtype=object)

**Cleaning Dataset**

In [32]:
# Checking if there are any duplicate rows
df_org.duplicated().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
948    False
949    False
950    False
951    False
952    False
Length: 953, dtype: bool>

In [33]:
# To find the total number of null values in a specific column
df_org['in_shazam_charts'].isnull().sum()

50

In [34]:
#Drop that column
df_org = df_org.drop('in_shazam_charts', axis=1)

In [35]:
# To find the total number of null values in a specific column

df_org['key'].isna().sum()

95

In [36]:
#Drop the key column due to high number of null values
df_org = df_org.drop('key', axis=1)

In [37]:
# in object type there will be comma values for writing an integer number greater than 999.
df_org['in_deezer_playlists'] = df_org['in_deezer_playlists'].str.replace(',', '', regex=True).astype(int)

In [38]:
#Renaming the column name of artist
df_org = df_org.rename(columns={'artist(s)_name': 'artists'})

In [39]:
#Find the number of unique artist
unique_artists = df_org['artists'].unique()
len(unique_artists)

645

In [40]:
#change the stream value of particular song which is invalid
df_org.loc[df_org['track_name'] == "Love Grows (Where My Rosemary Goes)", 'streams'] = 211283228

In [41]:
#Change the datatype of stream from object to int
df_org['streams']=df_org["streams"].astype(int)

In [42]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artists               953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    int64
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    int64
 12  in_deezer_charts      953 non-null    int64
 13  bpm                   953 non-null    int64
 14  mode                  953 non-null    object
 15  danceability_%        953 non-null    int64
 16  valence_%             953 non-null    int64
 17  energy_%              953 non-null    int64
 18  acousticness_%        953 non-null    int64
 19  instrumentalness_%    953 non-null    int64
 20  liveness_%            953 non-null    int64
 21  speechiness_%         953 non-null    int64
dtypes: int64(19), object(3)
memory usage: 163.9+ KB